<p>This is an example of codeblocks using mermaid:</p>

<div class="mermaid">graph TD;
  MoreUsers-->MorePipeline;
  MorePipeline-->MoreRevenue;
  MoreRevenue-->MoreFeatures;
  MoreFeatures-->MoreUsers;
</div>
